<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="src/css/menu.css">
</head>

<body>
    <div id="sidebar-ribbon" onmouseleave="mhtml.toggleMenu(false);">
        <div class="menu" id="sectionname-menu-wrapper">
            <span>Section - </span>
            <span class="sectionname"></span>
        </div>

        <div class="menu-wrapper" id="navbar-menu">
            <a onclick="mhtml.goToSection('home');">Home</a>
            <span>About</span>
            <div class="sublist" id="about-sublist">
                <a onclick="mhtml.goToSection('about-professional');">Professional</a>
                <a onclick="mhtml.goToSection('about-personal');">Personal</a>
                <a onclick="mhtml.goToSection('about-political');">Political</a>
            </div>
            <a onclick="mhtml.goToSection('works');">Works</a>
            <a onclick="mhtml.goToSection('curriculum_vitae');">Curriculum Vitae</a>
            <a onclick="mhtml.goToSection('links');">Links</a>
        </div>
    </div>

    <div id="decolourbox" onclick="mhtml.toggleMenu(false);"></div>
</body>