<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="src/css/ribbon.css">
</head>

<body>
  <div class="ribbon ribbon-crunch icon-button">
    <img onclick="mhtml.toggleMenu(true);" src="src/img/icons/menu.png">
  </div>

  <div class="ribbon ribbon-main ribbon-crunch" id="name">Olivia Hilda-Roslyn Walters</div>

  <div class="ribbon ribbon-main" id="navbar">
    <a onclick="mhtml.goToSection('home');">Home</a>
    <div hidden class="dropdown" id="drop-wrapper-about">
      <div hidden class="dropdown-content" id="drop-about">
        <a onclick="mhtml.goToSection('about-professional');">Professional</a>
        <a onclick="mhtml.goToSection('about-personal');">Personal</a>
        <a onclick="mhtml.goToSection('about-political');">Political</a>
      </div>
    </div>
    <a class="dropbtn" onclick="mhtml.showSubList('about');" onmouseleave="mhtml.hideSubList('about');">About</a>
    <a onclick="mhtml.goToSection('works');">Works</a>
    <a onclick="mhtml.goToSection('curriculum_vitae');">Curriculum Vitae</a>
    <a onclick="mhtml.goToSection('links');">Links</a>
  </div>

  <div class="ribbon ribbon-main" id="sectionname">Home</div>
</body>